/bin/
/dist/
/coverage.out
/coverage-*.out
/coverage.html
__pycache__/
*.pyc
.venv/
**/target/
**/obj/
examples/**/bin/
examples/**/build/
examples/node_modules/
examples/php/vendor/

/examples/.typescript-build/
