/bin/
/dist/
/coverage.out
/coverage-*.out
/coverage.html
__pycache__/
*.pyc
.venv/
**/target/
**/obj/
examples/**/bin/
examples/**/build/
tests/examples/typescript/node_modules/
tests/examples/php/vendor/

/tests/examples/typescript/.typescript-build/
tests/examples/**/bin/
